body {
  font-family: Helvetica;
}

.flat-list {
  display: flex;
  flex-wrap: wrap;
}

.flat {
  flex: 50% 0 0;
  cursor: pointer;
  border: 6px solid transparent;
  transition: 0.5s;
  transition-timing-function: ease;
}

.selected {
  transform: scale(1.05,1.05);
  transition: 0.5s;
  transition-timing-function: ease;
}

.card-trip {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  width: 47%;
  margin: 8px;
}

.card-trip > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-trip h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-trip p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card-trip .card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-trip-infos .card-trip-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}